@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #503047;
  --secondaryLight: #e8f4fc;
  --secondaryDark: #adc698;
  --tertiary: #c05746;
  --borderColor: #d0e1ec;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}

button {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  height: 40px;
  width: fit-content;
}

#copyBtn {
  width: 40px;
  height: 50px;
}

#copyBtn img {
  width: 100%;
}

.videos {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
padding-top: 2%;
padding-bottom: 2%;
}

video {
  background-color: var(--secondaryDark);
  margin: 0%;
  height: 350px;
  width: 40%;

  padding: 3% 0%;
  border-radius: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  font-weight: 500;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}


.buttonsHorizontal {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 40%;
  margin-top: 0%;

  justify-content: space-evenly;
  align-items: flex-start;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: fit-content;
  height: 50px;
  padding: 2% 5%;
  font-size: 20px;
  align-content: center;
  border-radius: 5px;
  border-color: var(--borderColor);
  border-width: 2px;
  background-color: #fff;
  border-style: solid;

  color: var(--secondaryDark);
}

.answerCopyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header {
  width: 90%;
  background-color:#fff ;
  color: var(--secondaryDark);
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1% 5%;
  text-align: center;
}

header h1 {
  font-weight: 600;
  margin: 0;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  color: var(--primary);
}

header h3 {
  margin: 0;
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 1%;
  margin-top: auto;
  vertical-align: bottom;
  margin-left: 0.5%;
  color: var(--primary);

}

#callID {
  height: 45px;
  border-color: var(--borderColor);
  border-style: solid;
  width: 400px;
border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 2%;
  font-size: 18px;
  align-content: center;
  color: var(--secondaryDark);

}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  width: 90%;
}

h2 {
width: 70%;
color: var(--primary);
}

